@model IEnumerable<EndProject.Models.EngineType>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background-image: url(./images/engine.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<h1>Engine Types</h1>

<p>
    <a asp-action="Create"
       class="btn btn-primary mx-2"> <i class="bi bi-plus-circle"></i>>Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>

                    <div class="w-35 btn-group" role="group">
                <a asp-action="Edit" asp-route-id="@item.Id"
                       class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i>>Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id"
                       class="btn btn-primary mx-2"> <i class="bi bi-info"></i>>>Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id"
                       class="btn btn-danger mx-2"> <i class="bi bi-trash-fill"></i>>Delete</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
